body {
    font-family: arial;
}

h1 {
    color: #009688;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sideBarContent {
    position: sticky;
    top: 0;
    margin-left: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.container > div.student {
    /* background-color: #e0f2f1; */
    border: 1px solid rgb(221, 221, 221);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 15px 20px 15px;
    flex: 33.33%;
} 

.beta {
    background-color: #F1EB9C;
}

.alpha {
    background-color: #ffcccb;
}

.title {
    font-weight: bold;
}

div.student:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    animation-name: shadow-change;
    animation-duration: 0.6s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

/* @media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
} */

@keyframes bg-color-change {
    0% {background-color: red;}
    25% {background-color: blue;}
    50% {background-color: green;}
    100% {background-color: yellow;}
}

@keyframes shadow-change {
    from {box-shadow: none;}
    to {box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);}
}